<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="http://npptuanmai.com/www/css/bootstrap.min.css" />
</head>
<body style="width: 700px">
<div class="row">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><strong>CÔNG TY TNHH TM TÍN MINH</strong></div>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><strong>Địa chỉ: </strong>27 Dương Khuê, P. Hiệp Tân, Q. Tân Phú</div>
<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><strong>Điện thoại: </strong>0888 111 066</div>
<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><strong>MST: </strong>0888 111 066</div>
<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">Tài xế: Nguyễn Văn A</div>
<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 col-xs-offset-8">Phụ xe: Thái Thị B</div>
<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><strong>Khách hàng </strong>Cửa hàng A</div>
<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><strong>ĐT: </strong>09999999</div>
<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">MSĐH: 2938492</div>
<div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">Địa chỉ: abc, dhf, asdkfjks </div>
<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" style="text-align: right;">8/3/2017</div>
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
<table class="table" style="margin-top: 30px;">
	<thead>
	<tr>
		<th>STT</th>
		<th>Tên Hàng</th>
		<th>ĐV Tính</th>
		<th>Số Lượng</th>
		<th>Đơn Giá</th>
		<th>Thành tiền</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td scope="row">1</td>
			<td>Hảo cay</td>
			<td>Thùng</td>
			<td>100</td>
			<td>90</td>
			<td>9000</td>
		</tr>
		<tr>
			<td scope="row">2</td>
			<td>Hảo cay</td>
			<td>Thùng</td>
			<td>100</td>
			<td>90</td>
			<td>9000</td>
		</tr>
		<tr>
			<td scope="row">3</td>
			<td>Hảo cay</td>
			<td>Thùng</td>
			<td>100</td>
			<td>90</td>
			<td>9000</td>
		</tr>
		<tr>
			<td scope="row"></td>
			<td><strong>Tổng cộng</strong></td>
			<td></td>
			<td>300</td>
			<td></td>
			<td>27000</td>
		</tr>
		<tr style="border: none">
			<td scope="row"></td>
			<td colspan="5"><i>*Khuyến mãi A</i></td>
		</tr>
		<tr>
			<td scope="row">1</td>
			<td>Hảo cay</td>
			<td>Thùng</td>
			<td>100</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td scope="row">2</td>
			<td>Hảo cay</td>
			<td>Thùng</td>
			<td>100</td>
			<td></td>
			<td></td>
		</tr>
		<tr style="border: none">
			<td scope="row"></td>
			<td colspan="5" style=""><i>*Khuyến mãi B</i></td>
		</tr>
		<tr>
			<td scope="row">1</td>
			<td>Chiết khấu đơn hàng</td>
			<td>Xuất</td>
			<td>1</td>
			<td>50</td>
			<td>50</td>
		</tr>
		<tr>
			<td scope="row">2</td>
			<td>Chiết khấu đơn hàng</td>
			<td>Xuất</td>
			<td>1</td>
			<td>100</td>
			<td>100</td>
		</tr>
		<tr>
			<td colspan="5" style="text-align: right;"><strong>Còn lại</strong></td>
			<td>100</td>
		</tr>
	</tbody>
</table>
</div>
</div>
</body>
</html>