<div ng-app="dashboard" ng-controller="importDetailController">
    <div class="onecolumn" style='margin-top: 10px'>
        <div class="header">
            <span>
                <span class="ico gray window title"></span>
                Chi tiết nhập hàng
            </span>
        </div>
        <div class="clear"></div>
        <div class="content">
            <form >
                <div>
                    <h3 style="margin-top: 10px">Thông tin hóa đơn</h3>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Tên khách hàng: </label> {{partner.name}}
                                </div>
                                <div class="col-lg-12">
                                    <label>Địa chỉ: </label> {{partner.address}}
                                </div>
                                <div class="col-lg-12">
                                    <label>Ngày tạo: </label> {{warehousing.created}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Tổng giá trị hóa đơn: </label> {{warehousing.price | number}}
                                </div>
                                <div class="col-lg-12">
                                    <label>Tín nợ hóa đơn này: </label> {{warehousing.debit | number}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 30px">
                    <h3 style="margin-top: 10px">chi tiết nhập hàng</h3>
                    <div style="margin-left: 30px">
                        <table class="display">
                            <thead>
                            <tr>
                                <th><div class="th_wrapp">stt</div></th>
                                <th><div class="th_wrapp">tên sản phảm</div></th>
                                <th><div class="th_wrapp">số lượng</div></th>
                                <th><div class="th_wrapp">Giá Sản phẩm</div></th>
                                <th><div class="th_wrapp">Quy cách</div></th>
                                <th><div class="th_wrapp">thành tiền</div></th>
                            </tr>
                            </thead>
                            <tbody class="list_product_buy_price">
                                <tr class="product_buy_price" ng-repeat="item in importDetail" id="tr_product_price_{{item.id}}">
                                    <td class="small">{{$index}}</td>
                                    <td class="small">{{item.product_name}}</td>
                                    <td class="small">{{item.quantity | number}}</td>
                                    <td class="small">{{item.price | number}}</td>
                                    <td class="small">{{item.unit.unit_name}}</td>
                                    <td class="small">{{item.price * item.quantity | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>