<div ng-app="dashboard" ng-controller="totalLiabilityDetailController">
    <div class="onecolumn" style="margin-top: 10px">
        <div class="header">
            <span ><span class="ico  gray random title"></span> Danh sách Tín nợ</span>
        </div><!-- End header -->
        <div class=" clear"></div>
        <div class="content">
            <form>
                <div class="tableName">
                    <table class="display" id="tabel_product">
                        <thead>
                        <tr>
                            <th><div class="th_wrapp">STT</div></th>
                            <th><div class="th_wrapp">Đối tác</div></th>
                            <th><div class="th_wrapp">Tổng tiền</div></th>
                            <th><div class="th_wrapp">Nợ</div></th>
                            <th><div class="th_wrapp">Ngày</div></th>
                            <th>#</th>
                            <th><div class="th_wrapp">Ghi chú</div></th>
                        </tr>
                        </thead>
                        <tbody id="show_product">
                        <tr ng-repeat="(key,item) in bill" class="odd gradeX" data-id="{{item.id}}">
                            <td>{{key + 1}}</td>
                            <td>{{item.partner_name}}</td>
                            <td>{{item.price | number}}</td>
                            <td>{{item.debit | number}}</td>
                            <td>{{item.created}}</td>
                            <td>
                                <a href="#import/detail/{{item.id}}" title="Chi tiết" target="_blank">
                                    Chi tiết
                                </a>
                            </td>
                            <td>{{item.note}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>