<div ng-app="dashboard" ng-controller="warehouseOutOfStorgeController">
    <div class="onecolumn" style="margin-top: 10px">
        <div class="header">
            <span ><span class="ico  gray random title"></span> Danh sách sản phẩm hết hàng</span>
        </div><!-- End header -->	
        <div class=" clear"></div>
        <div class="content">
            <div class="section">
                <table>
                    <tr>
                        <td>
                            <div class="iconBox color">
                                <img src="/www/img/icon/zoom.png">
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="searchProduct" class="small"/>
                        </td>
                    </tr>
                </table>
            </div>
            <form> 
                <div class="tableName">
                    <table class="display" id="tabel_product">
                        <thead>
                            <tr>
                                <th><div class="th_wrapp">STT</div></th>
                                <th><div class="th_wrapp">Tên sản phẩm</div></th>
                                <th><div class="th_wrapp">Loại sản phẩm</div></th>
                                <th><div class="th_wrapp">Số lượng</div></th>
                            </tr>
                        </thead>
                        <tbody id="show_product">
                            <tr ng-repeat="(key,item) in products | filter:searchProduct" class="odd gradeX" data-id="{{item.id}}">
                                <td>{{key + 1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.product_type.name}}</td>
                                <td>{{item.total_quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

        </div>
    </div>
</div>