<div ng-app="dashboard" ng-controller="warehouseStatusController">
    <div class="onecolumn" style='margin-top: 10px'>
        <div class="header">
            <span>
                <span class="ico gray window title"></span>
                Hiện trạng kho
            </span>
        </div>
        <div class="clear"></div>
        <div class="content">
            <form>
                <div class='section'>
                    <table>
                    <tr>
                        <td style="width: 250px">
                            <select id="filter_product_type" ng-model="searchProduct.product_name" data-placeholder="chọn sản phẩm" class="chzn-select">
                                
                            </select>
                        </td>
                        <td>
                            <div class="iconBox color">
                                <img src="/www/img/icon/zoom.png">
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="searchProduct.$" class="large"/>
                        </td>
                    </tr>
                </table>
                    <div style="margin-left: 30px">
                        <table class="display">
                            <thead>
                            <tr>
                                <th><div class="th_wrapp">STT</div></th>
                                <th><div class="th_wrapp">Tên sản phảm</div></th>
                                <th><div class="th_wrapp">Tên kho</div></th>
                                <th><div class="th_wrapp">Số lượng</div></th>
                                <th><div class="th_wrapp">Quy cách</div></th>
                                <th><div class="th_wrapp">Action</div></th>
                            </tr>
                            </thead>
                            <tbody class="">
                                <tr class="" ng-repeat="(key,item) in warehouses| filter:searchProduct" data-id="{{item.id}}">
                                    <td class="small">{{key + 1}}</td>
                                    <td class="small">{{item.product_name}}</td>
                                    <td class="small">{{item.warehouses_name}}</td>
                                    <td class="small">{{item.quantity}}</td>
                                    <td class="small">{{item.unit_name}}</td>
                                    <td class="small">
                                        <span class="tip">
                                            <a id="{{item.id}}" class="Delete" ng-click="deleteWarehouse($event)" title="Delete">
                                                <img src="/www/img/icon/icon_delete.png">
                                            </a>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>