<div ng-app="dashboard" ng-controller="listOrderController">
  <div class="onecolumn" style="margin-top: 10px">
    <div class="header">
      <span><span class="ico  gray random title"></span> Danh sách Đơn hàng</span>
    </div>
    <!-- End header -->
    <div class=" clear"></div>
    <div class="content">
      <div class="section">
        <table>
          <tr>
            <td>
              <div class="iconBox color">
                <img src="/www/img/icon/zoom.png">
              </div>
            </td>
            <td>
              <input type="text" ng-model="filter_order" class="small" />
            </td>
          </tr>
        </table>
      </div>
      <form>
        <div class="tableName">
          <table class="display">
            <thead>
              <tr>
                <th>
                  <div class="th_wrapp">id</div>
                </th>
                <th>
                  <div class="th_wrapp">Tuyến xe</div>
                </th>
                <th>
                  <div class="th_wrapp">Địa chỉ</div>
                </th>
                <th>
                  <div class="th_wrapp">Tổng thùng</div>
                </th>
                <th>
                  <div class="th_wrapp" style="cursor: pointer" ng-click="predicate = 'total_price'; reverse=!reverse">Thành tiền</div>
                </th>
                <th>
                  <div class="th_wrapp" style="cursor: pointer" ng-click="predicate = 'created'; reverse=!reverse">Ngày tạo</div>
                </th>
                <th>
                  <div class="th_wrapp">Edit</div>
                </th>
              </tr>
            </thead>
            <tbody id="show_product">
              <tr ng-repeat="(key,item) in orders | filter:filter_order | orderBy:predicate:reverse" class="odd gradeX" data-id="{{item.id}}">
                <td>{{key + 1}}</td>
                <td>
                  <div ng-if="item.shipmentTruck" style="padding: 10px; background-color: {{item.colors.shipment}};display: inline-block;border-radius: 5px 0 0 5px;min-width: 120px">{{item.shipmentTruck}}</div>
                  <div ng-if="item.shipmentIndex" style="padding: 10px; background-color: {{item.colors.index}};display: inline-block;margin-left: -4px;border-radius: 0 5px 5px 0;min-width: 100px">Chuyến {{item.shipmentIndex}}</div>
                </td>
                <td>{{item.customer_detail.address}}
                  <span class="ico color zoom show-popover" style="float: right; margin-right: 30px" ng-click="showPopover($event.currentTarget); $event.stopPropagation();" data-orderid="{{item.id}}"></span>
                </td>
                <td>{{item.total_quantity}}</td>
                <td>{{item.total_price | number}}</td>
                <td>{{item.created}}</td>
                <td>
                  <span id="edit_btn_{{item.id}}">
                    <span class="tip">
                      <a href="#order-detail?i={{item.id}}" title="Edit">
                        <img src="/www/img/icon/icon_edit.png">
                      </a>
                    </span>
                  </span>
                  <span>
                  <span class="tip">
                    <a ng-click="deleteOrder($index)" title="Delete">
                      <img src="/www/img/icon/icon_delete.png">
                    </a>
                  </span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>
