<div ng-app="dashboard" ng-controller="returnOrderController">
    <div class="onecolumn" style="margin-top: 10px">
        <div class="header">
            <span ><span class="ico  gray random title"></span> Danh sách sản phẩm</span>
        </di1v><!-- End header -->	
        <div class=" clear"></div>
        <div class="content"  >
            
            <div class="section">
                <h3>Phân kho chẵn</h3>
            </div>
            <form> 
                <div class="tableName">
                    <table id="tabel_product_type" class="display">
                        <thead>
                            <tr>
                                <th><div class="th_wrapp">Stt</div></th>
                                <th><div class="th_wrapp">Tên Sản Phẩm</div></th>
                                <th><div class="th_wrapp">Số lượng</div></th>
                                <th><div class="th_wrapp">Kho</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key,product) in products" data-product-id="{{product.product_id}}">
                                <td>{{key + 1}}</td>
                                <td>{{product.product_name}}</td>
                                <td>
                                    <span id="show_quantity_{{product.product_id}}">{{product.quantity}}</span>
                                    <input id="origin_quantity_{{product.product_id}}" type="hidden" value="{{product.quantity}}"/>
                                </td>
                                <td style='width: 300px'>
                                    <div style="padding: 15px; width: 170px; margin-bottom: 10px" ng-repeat="item in product.warehouse">
                                        <div style="float: left;">{{item.name}}</div>
                                        <div style="float: right; position: absolute">
                                        <input style='margin: -10px 0px 0px 40px;' class="small warehouse_quantity_{{product.product_id}} warehouse_quantity" data-product-id="{{product.product_id}}" data-warehouse-id="{{item.id}}" ng-model="quantity_warehouse" ng-keyup="quantityWarehouse($event)" type="text"/></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
            <div class="section last">
                <div class="right" style="margin-left: 200px">
                    <a class="uibutton " ng-click='divideWarehouse()'>Phân kho</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>