<div ng-app="dashboard" ng-controller="productTypeController">
    <div class="clear"></div>
    <div class="onecolumn" >
        <div class="header">
            <span ><span class="ico  gray random title"></span> Danh sách ngành hàng </span>
        </div><!-- End header -->	
        <div class=" clear"></div>
        <div class="content"  >
            <form> 
                <div class="tableName">
                    <table id="table_product_type" class="display">
                        <thead>
                            <tr>
                                <th><div class="th_wrapp">id</div></th>
                                <th><div class="th_wrapp">Tên ngành hàng</div></th>
                                <th><div class="th_wrapp">Edit</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in products" class="odd gradeX" data-id="{{item.id}}">
                                <td>{{item.id}}</td>
                                <td>
                                    <span id="edit_name_{{item.id}}">{{item.name}}</span>
                                    <input type="text" id="cancel_name_{{item.id}}" style="display: none" value="{{item.name}}"/>
                                </td>
                                <td>
                                    <span id="edit_btn_{{item.id}}">
                                        <span class="tip">
                                            <a ng-click="editProduct(this)" data-id="{{item.id}}" title="Edit">
                                                <img src="/www/img/icon/icon_edit.png">
                                            </a>
                                        </span> 
                                        <span class="tip">
                                            <a id="{{item.id}}" ng-click="deleteProductType()" class="Delete" title="Delete">
                                                <img src="/www/img/icon/icon_delete.png">
                                            </a>
                                        </span>
                                    </span>
                                    <span id="cancel_btn_{{item.id}}" style="display: none">
                                        <span class="tip">
                                            <a ng-click="updateProduct(this)" data-id="{{item.id}}" title="Edit">
                                                <img src="/www/img/icon/checkmark2.png">
                                            </a>
                                        </span> 
                                        <span class="tip">
                                            <a id="1" ng-click="cancelProduct(this)" class="Delete" title="Delete">
                                                <img src="/www/img/icon/cross.png">
                                            </a>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

        </div>
    </div>
    <a class="uibutton icon add" ng-click="showCreateType()">Add product type</a>
    <div class="onecolumn" ng-hide='createType' style='margin-top: 10px'>
        <div class="header">
            <span>
                <span class="ico gray window"></span>
                Create Product Type
            </span>
        </div>
        <div class="clear"></div>
        <div class="content">
            <form ng-submit="saveProductType()">
                <div class='section'>
                    <label>Tên loại sản phẩm</label>
                    <div><input type="text" ng-model="product_type_name" required class="medium"/></div>
                </div>
                <div class='section'>
                    <label>mô tả</label>
                    <div><textarea class='editor' ng-model="product_description" cols="50" rows="5"></textarea></div>
                </div>
                <div class='section last'>
                    <div>
                        <input class="uibutton loading"  title="Saving" type="submit" value="save"/>
                        <a class="uibutton special" ng-click="cancelCreate()">cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>