<div ng-app="dashboard" ng-controller="BillList">
    <div class="onecolumn" style="margin-top: 10px">
        <div class="header">
            <span ><span class="ico  gray random title"></span> Danh sách Hóa đơn</span>
        </div><!-- End header -->
        <div class=" clear"></div>
        <div class="content">
            <form>
                <div class="tableName">
                    <table class="display" id="tabel_product">
                        <thead>
                        <tr>
                            <th><div class="th_wrapp">Stt</div></th>
                            <th><div class="th_wrapp">Mã hóa đơn</div></th>
                            <th><div class="th_wrapp">Khách hàng</div></th>
                            <th><div class="th_wrapp">Thành tiền</div></th>
                            <th><div class="th_wrapp">Nợ</div></th>
                            <th><div class="th_wrapp">Ngày</div></th>
                        </tr>
                        </thead>
                        <tbody id="show_product">
                        <tr ng-repeat="(key,item) in bill" class="odd gradeX" data-id="{{item.id}}">
                            <td>{{key + 1}}</td>
                            <td><a href="/index.php/dashboard#/bill-detail/wholesale/{{item.id}}" target="_blank">{{item.bill_code}}</a></td>
                            <td>{{item.customer_name}}</td>
                            <td>{{item.price_total | number}}</td>
                            <td>{{item.debit | number}}</td>
                            <td>{{item.created}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>

        </div>
    </div>
</div>